@font-face {
    font-family: 'Trebuchet';
    src: url(../../fonts/TrebuchetMS.woff) format('woff'),
         url(../../fonts/TrebuchetMS.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../../fonts/UbuntuMono-Regular.woff) format('woff'),
         url(../../fonts/UbuntuMono-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.App {
    font-family: 'Trebuchet';
    font-size: 17px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    footer {
        margin-top: 0
    }
}