.Select {
    margin: 5em 0 7em 0;
    background: transparent;
    position: relative;
}

.select-logo {
    border: 1px solid #7A7A7A;
    display: inline-block;
    padding: 1.3em 2em;
    background: #ffffff;
    border-bottom: none;
    width: 36em;
}

.select-logo img {
    width: 100%;
}

.select-header {
    font-family: Ubuntu;
    border: 1px solid #7A7A7A;
    display: inline-block;
    padding: 1.5em 2em;
    background: #EEEEEE;
    line-height: 3em;
    border-bottom: none;
    width: 100%;
}

.select-header span {
    font-size: 2.2em;
}

.select-content {
    display: flex;
    color: #FFFFFF;
}

.select-item {
    width: 33.33333%;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 1px solid #7A7A7A;
    border-right: none;
    justify-content: space-between;
    position: relative;
}

.select-item:last-child {
    border-right: 1px solid #7A7A7A;
}

.select-item.select-item_billy {
    background: #976EEC;
}

.select-item.select-item_ilon {
    background: #9FC747;
}

.select-item.select-item_kianu {
    background: #47A3F0;
}

.select-item .title {
    margin-bottom: 1em;
}

.select-item .title span {
    font-size: 3.7em;
}

.select-citem_wrap {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.select-citem-wrap-img {
    padding: 2em 2em 0 2em;
}

.done .select-citem_wrap {
    display: none;
}

.select-citem_wrap img {
    width: 65%;
}

.select-citem_wrap p {
    padding: 0 2em 3em 2em;
}

.select-citem_wrap p span {
    font-size: 1.7em;
}

.select-item button {
    border-top: 1px solid #7a7a7a;
    width: 100%;
    color: transparent;
    height: 3.35em;
    transition: all 300ms ease;
    background: url(./img/btn.svg)no-repeat center center;
}

.select-item button:hover {
    opacity: .7;
}

.select-arrow {
    display: none;
    transition: all 0.5s ease;
}

.select-citem_wrap img.select-arrow {
    width: 1.8em;
}

.billy_show .select-item_billy .select-arrow {
    transform: rotate(90deg);
}
.ilon_show .select-item_ilon .select-arrow {
    transform: rotate(90deg);
}
.kianu_show .select-item_kianu .select-arrow {
    transform: rotate(90deg);
}

.mob-done {
    font-size: 1.6em;
    display: none;
}

.select-item svg {
    width: 2.2em;
    display: none;
}

/* mobile */

.amobile .Select {
    margin: 1.5em 0 3em 0;
}

.amobile .select-logo {
    padding: 1.3em 2em 0.5em;
    width: 27em;
}

.amobile .select-header {
    padding: 1.5em;
    line-height: 1.6em;
}

.amobile .select-header span {
    font-size: 1.3em;
}

.amobile .select-content {
    flex-direction: column;
    overflow: hidden;
}

.amobile .select-item {
    width: 100%;
    border: 1px solid #7A7A7A;
    border-bottom: none;
    text-align: left;
}

.amobile .select-item button {
    height: 4.3em;
}

.amobile .select-citem_wrap p {
    padding: 0 2em 2.5em 2em;
    line-height: 2em;
}

.amobile .select-citem_wrap p span {
    font-size: 1.3em;
}

.amobile .select-item:last-child {
    border-bottom: 1px solid #7A7A7A;
}

.amobile .select-citem_wrap {
    height: 11.5em;
    display: block;
    transition: height 0.5s ease, border 0.5s ease;
}

.amobile .select-citem-wrap-img {
    padding: 1em 2em 1em 2em;
    height: 11.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.amobile .select-citem-wrap-img .img{
    text-align: left;
    display: flex;
}

.amobile .select-citem-wrap-img .img img{
    width: 10em;
    height: 10em;
}

.amobile .select-citem-wrap-img .title {
    text-align: left;
    padding-left: 2em;
    display: flex;
    margin-bottom: 0;
    min-width: 19em;
    flex-direction: column;
}

.amobile .select-citem-wrap-img .title span {
    font-size: 2.2em;
}

.amobile .select-item.select-item_ilon .title, .amobile .select-item.select-item_kianu .title {
    margin: 0;
}

.amobile .select-arrow {
    display: block;
}

.amobile .done .select-arrow {
    display: none;
}

.amobile .done .hero-done, .amobile .done .hero-done-btn{
    display: none;
}

.done .mob-done {
    display: block;
}

.amobile .done svg {
    display: block;
}

/* Clide */

.amobile .billy_show .select-item_billy .select-citem_wrap, .amobile .ilon_show .select-item_ilon .select-citem_wrap, .amobile .kianu_show .select-item_kianu .select-citem_wrap {
    height: 34.5em;
}

.amobile .billy_show .select-item_ilon .select-citem_wrap, .amobile .billy_show .select-item_kianu .select-citem_wrap, .amobile .ilon_show .select-item_billy .select-citem_wrap, .amobile .ilon_show .select-item_kianu .select-citem_wrap, .amobile .kianu_show .select-item_billy .select-citem_wrap, .amobile .kianu_show .select-item_ilon .select-citem_wrap {
    height: 0;
}

.amobile .billy_show .select-item {
    border-top: 1px solid #976EEC;
}

.amobile .ilon_show .select-item {
    border-top: 1px solid #9FC747;
}

.amobile .kianu_show .select-item {
    border-top: 1px solid #47A3F0;
}

