.Game {
    margin: 70px 0 100px 0;
    background: #FFFFFF;
    position: relative;
    display: flex;
    border: 1px solid #7A7A7A;
}

.game-column-1 {
    width: 24%;
    border-right: 1px solid #7A7A7A;
    display: flex;
    flex-direction: column;
}

.game-column-2 {
    width: 76%;
    display: flex;
    flex-direction: column;
}

.game-profile {
    text-align: center;
    position: relative;
}

.game-profile .title {
    font-size: 18px;
    font-family: Ubuntu;
    padding: 25px 25px 0 25px;
}

.game-profile .name {
    font-size: 20px;
    font-weight: bold;
    font-family: Ubuntu;
    padding: 0 25px;
}

.game-profile .img {
    padding: 15px 70px;
}

.game-profile .img img {
    width: 100%;
}

.game-stars {
    display: flex;
    padding: 11px 25px 2px;
    justify-content: center;
    border-top: 1px solid #7a7a7a;
}

.game-stars span:first-child {
    margin-right: 10px;
}

.stars {
    position: relative;
    overflow: hidden;
}

.stars:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 15%;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    transform: translateX(-115%)  skewX(-30deg);
    animation: stars 2.5s ease-in-out infinite;
}

@keyframes stars {
    0%{
        transform: translateX(-115%)  skewX(-30deg);
    }
    40% {
        transform: translateX(700%)  skewX(-30deg);
    }
    100% {
        transform: translateX(700%)  skewX(-30deg);
    }
}

.game-sell {
    border-top: 1px solid #7a7a7a;
}

.game-sell-wrap {
    border: 2px solid transparent;
    text-align: center;
    padding: 10px 25px;
    position: relative;
}

.game-sell-wrap img {
    width: 100%;
}

.sell_complite {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./img/sell_complite.svg)no-repeat center center;
}

.game-navbar {
    display: flex;
}

.game-nav-m {
    cursor: pointer;
    display: flex;
    border-right: 1px solid #7a7a7a;
    min-height: 75px;
    align-items: center;
    font-size: 18px;
    padding: 0 20px;
    color: #7a7a7a;
    justify-content: center;
    font-family: Ubuntu;
    border-bottom: 1px solid #7a7a7a;
}

.game-nav-m.active.deseble, .game-nav-m.nav-hero.deseble {
    color: #7a7a7a;
}

.game-nav-m.deseble span, .game-nav-m.deseble img {
    opacity: .5;
}

.game-nav-m:hover {
    opacity: 0.7;
    color: #000000;
}

.game-nav-m.deseble:hover, .game-nav-m.nav-hero.deseble:hover {
    opacity: 1;
    color: #7a7a7a;
    cursor: not-allowed;
}

.game-nav-m .avatar {
    margin-left: 15px;
    margin-right: 10px;
}

.game-nav-m .arrow {
    transform: rotate(270deg);
    transition: all .5s ease;
}

.game-nav-m.active {
    color: #000000;
    font-weight: bold;
}

.avatar {
    width: 50px;
    height: 50px;
}

.game-nav-m:last-child {
    border-right: none;
    flex-grow: 1;
}

.game-nav-m.nav-hero {
    cursor: pointer;
}

.game-nav-m.nav-hero:hover .arrow {
    transform: rotate(360deg);
}

.game-nav-m.nav-hero.deseble:hover .arrow {
    transform: rotate(270deg);
}

.game-nav-m.nav-hero:hover {
    color: #000000;
}

.empty-result {
    flex-grow: 1;
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 25px;
    display: none;
}

.empty-result img {
    margin: 0 0 30px 0;
}

.empty-result .title {
    font-size: 26px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.my-sell, .my-buy {
    display: none;
}

.sell .my-sell {
    display: block;
}

.buy .my-buy {
    display: block;
}

.my-sell-img {
    width: 100%;
}

.my-sell-desc {
    display: flex;
    border-top: 1px solid #7a7a7a;
    flex-wrap: wrap;
    margin-top: -7px;
}

.my-sell-desc .text {
    width: 60%;
    padding: 25px;
}

.my-sell-desc .title {
    color: #568FFF;
    font-size: 22px;
}

.my-sell-desc .sub-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.my-sell-desc .price {
    font-weight: bold;
}

.my-sell-desc .city {
    color: #7a7a7a;
}

.my-sell-desc-but {
    width: 40%;
    text-align: right;
    padding: 25px 25px 0 0;
}

.my-sell-desc-but button:hover {
    opacity: .8;
}

.mess_empty .empty-result {
    display: flex;
}

.clxImg2 {
    display: none;
}

.one-message .clxImg1 {
    display: none;
}

.game-chat {
    display: none;
}

.chat .game-chat {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.seller {
    min-height: 75px;
    border-bottom: 1px solid #7a7a7a;
    display: flex;
    font-family: Ubuntu;
}

.seller-profile {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.seller-profile img {
    margin-right: 15px;
}

.seller-name {
    font-weight: bold;
}

.seller-subname {
    color: #7a7a7a;
}

.chat-body {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
}

.chat-on {
    min-height: 75px;
    border-top: 1px solid #7a7a7a;
    background: #eeeeee;
    color: #ffffff;
    padding: 10px 0 10px 25px;
    text-align: center;
    display: flex;
}

.chat-on-mess {
    background: #47A3F0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    flex-grow: 1;
    margin-right: 25px;
    cursor: pointer;
    font-family: Ubuntu;
}

.chat-on-mess.final:first-child {
    background: #9FC747;
    border: 1px solid #7a7a7a;
}

.chat-on-mess.final:last-child {
    background: #E76867;
    border: 1px solid #7a7a7a;
}

.chat-on-mess.final_end {
    background: #976EEC;
    border: 1px solid #7a7a7a;
}

.chat-on-mess:hover {
    opacity: .8;
}

.seller_status {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-left: 1px solid #7A7A7A;
}

.chat-messages.he.hide {
    display: none;
}

.chat-messages img {
    width: 54px;
}

.chat-messages.he, .chat-messages.my, .chat-messages.avito {
    display: flex;
    justify-content: flex-end;
    padding: 0 25px;
    width: 100%;
    margin-bottom: 15px;
    align-items: flex-start;
}

.chat-messages.he, .chat-messages.avito {
    flex-direction: row-reverse;
}

.chat-messages.my {
    flex-direction: row;
}

.chat-messages.he .chat-message-mes, .chat-messages.my .chat-message-mes {
    font-family: Ubuntu;
    padding: 5px 25px;
    margin: 0 20px;
    border-radius: 3px;
    min-height: 54px;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 65%;
}

.chat-messages.he .chat-message-mes {
    background: #F8F8F8;
}

.chat-messages.my .chat-message-mes {
    background: #CFDFFF;
}

.chat-messages.avito .chat-message-mes {
        background: #F8F8F8;
        border: 1px solid #7a7a7a;
        padding: 52px 25px;
        margin: 0 20px;
        min-height: 54px;
        display: flex;
        font-size: 30px;
        font-weight: bold;
        align-items: center;
        position: relative;
        width: 100%;
        justify-content: center;
}

.chat-messages.he .chat-message-mes:before {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-top: 20px solid #F8F8F8;
    border-right: 20px solid #F8F8F8;
    left: -20px;
    top: 0;
}

.chat-messages.my .chat-message-mes:before {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-left: 20px solid #CFDFFF;
    border-top: 20px solid #CFDFFF;
    right: -20px;
    top: 0;
}

.chat-messages.avito_end {
    display: flex;
    padding: 0 25px;
    width: 100%;
    margin-bottom: 15px;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.chat-messages.avito_end .chat-message-mes{
    background: #F8F8F8;
    border: 1px solid #7a7a7a;
    padding: 25px 76px;
    margin: 0 20px;
    min-height: 54px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.final-mess-no, .final-mess-yes {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 25px;
}

.final-mess-no {
    color: #E76867;
}

.final-mess-yes {
    color: #9FC747;
}

.hello-message {
    position: absolute;
    top: 25%;
    right: -158px;
    transform-origin: 0 center;
    animation: mess 8s ease;
    opacity: 0;
}

.userTap {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: #b2b2b2;
    display: none;
}

.userTap.show {
    display: block;
}

@keyframes mess {
    0%{
        opacity: 0;
        transform: rotate(70deg);
    }
    12.5%{
        opacity: 0;
        transform: rotate(70deg);
    }
    18% {
        opacity: 1;
        transform: rotate(-10deg);
    }
    18.75% {
        opacity: 1;
        transform: rotate(0deg);
    }
    93.25%{
        opacity: 1;
        transform: rotate(0deg);
    }
    94%{
        opacity: 1;
        transform: rotate(-10deg);
    }
    100%{
        opacity: 0;
        transform: rotate(70deg);
    }
}

.one-message img {
    animation-name: shake-chunk;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    display: inherit;
    transform-origin: center center;
}

@keyframes shake-chunk{
    2% {
        transform: translate(-0.20833333333em, 0.29166666666em) rotate(13deg);
    }

    4% {
        transform: translate(-0.125em, -0.02083333333em) rotate(-14deg);
    }

    6% {
        transform: translate(0.29166666666em, 0.125em) rotate(6deg);
    }

    8% {
        transform: translate(0.29166666666em, 0px) rotate(-3deg);
    }

    10% {
        transform: translate(0.08333333333em, 0.04166666666em) rotate(1deg);
    }

    12% {
        transform: translate(0.20833333333em, 0.25em) rotate(9deg);
    }

    14% {
        transform: translate(0.29166666666em, -0.16666666666) rotate(10deg);
    }

    16% {
        transform: translate(-0.25em, -0.04166666666em) rotate(-6deg);
    }

    18% {
        transform: translate(0.16666666666, 0.25em) rotate(-10deg);
    }

    20% {
        transform: translate(0.29166666666em, -0.08333333333em) rotate(-8deg);
    }

    22% {
        transform: translate(-0.125em, -0.16666666666) rotate(13deg);
    }

    24% {
        transform: translate(0.25em, -0.02083333333em) rotate(8deg);
    }

    26% {
        transform: translate(-0.125em, -0.04166666666em) rotate(9deg);
    }

    28% {
        transform: translate(-0.25em, -0.29166666666em) rotate(4deg);
    }

    30% {
        transform: translate(-0.02083333333em, -0.20833333333em) rotate(4deg);
    }

    32% {
        transform: translate(0.16666666666, 0px) rotate(-7deg);
    }

    34% {
        transform: translate(0.08333333333em, -0.125em) rotate(6deg);
    }

    36% {
        transform: translate(0.20833333333em, 0.08333333333em) rotate(4deg);
    }

    38% {
        transform: translate(-0.25em, 0px) rotate(-5deg);
    }
    0%, 40%, 100% {
        transform: translate(0, 0) rotate(0);
    }
    
}

@media(max-width: 992px) {
    .game-profile .img {
        padding: 15px 25px;
    }

    .game-stars {
        flex-direction: column;
    }

    .game-sell-wrap {
        padding: 7px 10px;
    }

    .game-navbar {
        flex-wrap: wrap;
    }

    .game-nav-m {
        width: 50%;
    }

    .game-nav-m:nth-child(even) {
        border-right: none;
    }

    .my-sell-desc .text {
        width: 100%;
    }

    .my-sell-desc-but {
        width: 100%;
        text-align: left;
        padding: 0 25px 25px;
    }
}
