.Game {
    margin: 70px 0 100px 0;
    background: #FFFFFF;
    position: relative;
    display: flex;
    border: 1px solid #7A7A7A;
}

.game-column-1 {
    width: 25%;
    border-right: 1px solid #7A7A7A;
    display: flex;
    flex-direction: column;
}

.game-column-2 {
    width: 75%;
}

.game-profile {
    text-align: center;
}

.game-profile .title {
    font-size: 18px;
    font-family: Ubuntu;
    padding: 25px 25px 0 25px;
}

.game-profile .name {
    font-size: 20px;
    font-weight: bold;
    font-family: Ubuntu;
    padding: 0 25px;
}

.game-profile .img {
    padding: 15px 70px;
}

.game-profile .img img {
    width: 100%;
}

.game-stars {
    display: flex;
    padding: 11px 25px 2px;
    justify-content: center;
    border-top: 1px solid #7a7a7a;
}

.game-stars span:first-child {
    margin-right: 10px;
}

.stars {
    position: relative;
    overflow: hidden;
}

.stars:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 15%;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    transform: translateX(-115%)  skewX(-30deg);
    animation: stars 2.5s ease-in-out infinite;
}

@keyframes stars {
    0%{
        transform: translateX(-115%)  skewX(-30deg);
    }
    40% {
        transform: translateX(700%)  skewX(-30deg);
    }
    100% {
        transform: translateX(700%)  skewX(-30deg);
    }
}

.game-sell {
    cursor: pointer;
    border-top: 1px solid #7a7a7a;
}

.game-sell-wrap {
    border: 2px solid transparent;
    text-align: center;
    padding: 10px 25px;
    transition: border 0.3s ease;
}

.Game.ilon .game-sell-wrap:hover {
    border: 2px solid #9FC747;
}

.Game.billy .game-sell-wrap:hover {
    border: 2px solid #976EEC;
}

.Game.kianu .game-sell-wrap:hover {
    border: 2px solid #47A3F0;
}

.game-sell-wrap img {
    width: 100%;
}

.game-navbar {
    display: flex;
}

.game-nav-m {
    display: flex;
    border-right: 1px solid #7a7a7a;
    min-height: 75px;
    align-items: center;
    font-size: 18px;
    padding: 0 20px;
    color: #7a7a7a;
    justify-content: center;
    font-family: Ubuntu;
    border-bottom: 1px solid #7a7a7a;
}

.game-nav-m .avatar {
    margin-left: 15px;
    margin-right: 10px;
}

.game-nav-m .arrow {
    transform: rotate(270deg);
    transition: all .5s ease;
}

.game-nav-m.message {
    color: #000000;
}

.avatar {
    width: 50px;
    height: 50px;
}

.game-nav-m:last-child {
    border-right: none;
    flex-grow: 1;
}

.game-nav-m.nav-hero {
    cursor: pointer;
}

.game-nav-m.nav-hero:hover .arrow {
    transform: rotate(360deg);
}

.game-nav-m.nav-hero:hover {
    color: #000000;
}

@media(max-width: 992px) {
    .game-profile .img {
        padding: 15px 25px;
    }

    .game-stars {
        flex-direction: column;
    }

    .game-sell-wrap {
        padding: 7px 10px;
    }

    .game-navbar {
        flex-wrap: wrap;
    }

    .game-nav-m {
        width: 50%;
    }

    .game-nav-m:nth-child(even) {
        border-right: none;
    }
}
