.Game {
    margin: 5em 0 7em 0;
    background: #FFFFFF;
    position: relative;
    display: flex;
    border: 1px solid #7A7A7A;
}

.game-column-1 {
    width: 24%;
    border-right: 1px solid #7A7A7A;
    display: flex;
    flex-direction: column;
}

.game-column-2 {
    width: 76%;
    display: flex;
    flex-direction: column;
}

.game-profile {
    text-align: center;
    position: relative;
}

.game-profile .title {
    font-family: Ubuntu;
    padding: 2.5em 2.5em 0 2.5em;
}

.game-profile .title span{
    font-size: 1.8em;
}

.game-profile .name {
    font-weight: bold;
    font-family: Ubuntu;
    padding: 0 2.5em;
}

.game-profile .name span {
    font-size: 2em;
}

.game-profile .img {
    padding: 1.5em 7em;
}

.game-profile .img img {
    width: 100%;
}

.game-stars {
    display: flex;
    padding: 1.1em 2.5em 0.2em;
    justify-content: center;
    border-top: 1px solid #7a7a7a;
}

.game-stars span:first-child {
    margin-right: 0.7em;
    font-size: 1.7em;
}

.stars {
    position: relative;
    overflow: hidden;
}

.stars:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 15%;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    transform: translateX(-115%)  skewX(-30deg);
    animation: stars 2.5s ease-in-out infinite;
}

@keyframes stars {
    0%{
        transform: translateX(-115%)  skewX(-30deg);
    }
    40% {
        transform: translateX(700%)  skewX(-30deg);
    }
    100% {
        transform: translateX(700%)  skewX(-30deg);
    }
}

.game-sell {
    border-top: 1px solid #7a7a7a;
}

.game-sell-wrap {
    text-align: center;
    padding: 1em 2.5em;
    position: relative;
    cursor: pointer;
}

.game-sell-wrap.deseble {
    opacity: .5;
    cursor: not-allowed;
}

.game-sell-wrap img {
    width: 100%;
}

.sell_complite, .buy_complite {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sell_complite {
    background: url(./img/sell_complite.svg)no-repeat center center;
}

.buy_complite {
    background: url(./img/buy_complite.svg)no-repeat center center;
}

.my-sell-img-wrap {
    position: relative;
    overflow: hidden;
}

.my-sell-img-wrap .sell_complite {
    background-size: 25%;
    transform: rotate(26deg);
}

.my-sell-img-wrap .buy_complite {
    background-size: 25%;
    transform: rotate(-28deg);
}

.game-navbar {
    display: flex;
}

.game-nav-m {
    cursor: pointer;
    display: flex;
    border-right: 1px solid #7a7a7a;
    min-height: 7.5em;
    align-items: center;
    padding: 0 2em;
    color: #7a7a7a;
    justify-content: center;
    font-family: Ubuntu;
    border-bottom: 1px solid #7a7a7a;
}

.game-nav-m img {
    width: 4.2em;
}

.game-nav-m span {
    font-size: 1.8em;
}

.game-nav-m.active.deseble, .game-nav-m.nav-hero.deseble {
    color: #7a7a7a;
}

.game-nav-m.deseble span, .game-nav-m.deseble img {
    opacity: .5;
}

.game-nav-m:hover {
    opacity: 0.7;
    color: #000000;
}

.game-nav-m.deseble:hover, .game-nav-m.nav-hero.deseble:hover {
    opacity: 1;
    color: #7a7a7a;
    cursor: not-allowed;
}

.game-nav-m .avatar {
    margin-left: 1.5em;
    margin-right: 1em;
}

.game-nav-m img.arrow {
    transform: rotate(270deg);
    transition: all .5s ease;
    width: 2.9em;
}

.game-nav-m.active {
    color: #000000;
    font-weight: bold;
}

.game-nav-m img.avatar {
    width: 5em;
    height: 5em;
}

.game-nav-m:last-child {
    border-right: none;
    flex-grow: 1;
}

.game-nav-m.nav-hero {
    cursor: pointer;
}

.game-nav-m.nav-hero:hover .arrow {
    transform: rotate(360deg);
}

.game-nav-m.nav-hero.deseble:hover .arrow {
    transform: rotate(270deg);
}

.game-nav-m.nav-hero:hover {
    color: #000000;
}

.empty-result {
    flex-grow: 1;
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2.5em;
    display: none;
}

.empty-result img {
    margin: 0 0 3em 0;
}

.empty-result .title {
    font-weight: bold;
    margin: 0 0 2em 0;
}

.empty-result .title span {
    font-size: 2.6em;
}

.my-sell, .my-buy {
    display: none;
}

.sell .my-sell {
    display: block;
}

.buy .my-buy {
    display: block;
}

.my-sell-img {
    width: 100%;
}

.my-sell-desc {
    display: flex;
    border-top: 1px solid #7a7a7a;
    flex-wrap: wrap;
    margin-top: -0.7em;
}

.my-sell-desc .atext {
    width: 60%;
    padding: 2.5em;
}

.my-sell-desc .title {
    color: #568FFF;
    font-size: 2.2em;
    line-height: 1.3;
}

.my-sell-desc .sub-title {
    margin-bottom: 2em;
}

.my-sell-desc .sub-title span {
    font-size: 1.8em;
}

.my-sell-desc .price {
    font-weight: bold;
    font-size: 1.7em;
}

.my-sell-desc .city {
    color: #7a7a7a;
    font-size: 1.7em;
}

.my-sell-desc-but {
    width: 40%;
    text-align: right;
    padding: 2.5em 2.5em 0 0;
}

.my-sell-desc-but span {
    width: 19.9em;
    display: inline-block;
    cursor: pointer;
}

.my-sell-desc-but span img {
    width: 100%;
}

.my-sell-desc-but span:hover {
    opacity: .8;
}

.mess_empty .empty-result {
    display: flex;
}

.clxImg2 {
    display: none;
}

.one-message .clxImg1 {
    display: none;
}

.game-chat {
    display: none;
}

.chat .game-chat {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.seller {
    min-height: 7.5em;
    border-bottom: 1px solid #7a7a7a;
    display: flex;
    font-family: Ubuntu;
}

.seller-profile {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 2em;
}

.seller-profile img {
    margin-right: 1.5em;
    width: 5.4em;
}

.seller-profile-text, .seller_status span, .empty-result .mess, .chat-message-mes span, .chat-on-mess span {
    font-size: 1.7em;
}

.seller-name {
    font-weight: bold;
}

.seller-subname {
    color: #7a7a7a;
}

.chat-body {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
}

.chat-on {
    min-height: 7.5em;
    border-top: 1px solid #7a7a7a;
    background: #eeeeee;
    color: #ffffff;
    padding: 1em 0 1em 2.5em;
    text-align: center;
    display: flex;
    overflow: hidden;
}

.chat-on.hide .chat-on-mess {
    opacity: 0;
    left: -300%
}

.chat-on-mess {
    position: relative;
    background: #47A3F0;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 5.4em;
    flex-grow: 1;
    margin-right: 2.5em;
    cursor: pointer;
    font-family: Ubuntu;
    opacity: 1;
}

.chat-on.show .chat-on-mess {
    opacity: 1;
    transition: opacity 2s ease;
    left: 0;
}

.chat-on-mess.final:first-child {
    background: #9FC747;
    border: 1px solid #7a7a7a;
}

.chat-on-mess.final:last-child {
    background: #E76867;
    border: 1px solid #7a7a7a;
}

.chat-on-mess.final_end {
    background: #976EEC;
    border: 1px solid #7a7a7a;
}

.chat-on-mess:hover {
    opacity: .8;
}

.seller_status {
    display: flex;
    align-items: center;
    padding: 0 2em;
    border-left: 1px solid #7A7A7A;
}

.chat-messages.he.hide {
    display: none;
}

.chat-messages img {
    width: 5.4em;
}

.chat-messages.he, .chat-messages.my, .chat-messages.avito {
    display: flex;
    justify-content: flex-end;
    padding: 0 2.5em;
    width: 100%;
    margin-bottom: 1.5em;
    align-items: flex-start;
}

.chat-messages.he, .chat-messages.avito {
    flex-direction: row-reverse;
}

.chat-messages.my {
    flex-direction: row;
}

.chat-messages.he .chat-message-mes, .chat-messages.my .chat-message-mes {
    font-family: Ubuntu;
    padding: 0.5em 2.5em;
    margin: 0 2em;
    border-radius: 0.3em;
    min-height: 5.4em;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 65%;
}

.chat-messages.he .chat-message-mes {
    background: #F8F8F8;
}

.chat-messages.my .chat-message-mes {
    background: #CFDFFF;
}

.chat-messages.avito .chat-message-mes {
        background: #F8F8F8;
        border: 1px solid #7a7a7a;
        padding: 5.2em 2.5em;
        margin: 0 2em;
        min-height: 5.4em;
        display: flex;
        font-weight: bold;
        align-items: center;
        position: relative;
        width: 100%;
        justify-content: center;
}

.chat-messages.avito .chat-message-mes span {
    font-size: 3em;
}

.chat-messages.he .chat-message-mes:before {
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-top: 15px solid #F8F8F8;
    border-right: 15px solid #F8F8F8;
    left: -15px;
    top: 0;
}

.chat-messages.my .chat-message-mes:before {
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-left: 15px solid #CFDFFF;
    border-top: 15px solid #CFDFFF;
    right: -15px;
    top: 0;
}

.chat-messages.avito_end {
    display: flex;
    padding: 0 2.5em;
    width: 100%;
    margin-bottom: 15px;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.chat-messages.avito_end .chat-message-mes{
    background: #F8F8F8;
    border: 1px solid #7a7a7a;
    padding: 2.5em 10em;
    margin: 0 2em;
    min-height: 5.4em;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.final-mess-no, .final-mess-yes {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 25px;
}

.final-mess-no {
    color: #E76867;
}

.final-mess-yes {
    color: #9FC747;
}

.hello-message {
    position: absolute;
    top: 25%;
    left: -57%;
    transform-origin: 100% center;
    animation: mess 8s ease;
    opacity: 0;
    width: 84%;
    z-index: 10;
}

.userTap {
    text-align: center;
    font-size: 1.4em;
    font-style: italic;
    color: #b2b2b2;
    display: none;
}

.userTap.show {
    display: block;
}

.avito-hide-img {
    display: none;
}

@keyframes mess {
    0%{
        opacity: 0;
        transform: rotate(-34deg);
    }
    12.5%{
        opacity: 0;
        transform: rotate(-34deg);
    }
    18% {
        opacity: 1;
        transform: rotate(8deg);
    }
    18.75% {
        opacity: 1;
        transform: rotate(-2deg);
    }
    93.25%{
        opacity: 1;
        transform: rotate(-2deg);
    }
    94%{
        opacity: 1;
        transform: rotate(8deg);
    }
    100%{
        opacity: 0;
        transform: rotate(-34deg);
    }
}

.one-message img {
    animation-name: shake-chunk;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    display: inherit;
    transform-origin: center center;
}

@keyframes shake-chunk{
    2% {
        transform: translate(-0.20833333333em, 0.29166666666em) rotate(13deg);
    }

    4% {
        transform: translate(-0.125em, -0.02083333333em) rotate(-14deg);
    }

    6% {
        transform: translate(0.29166666666em, 0.125em) rotate(6deg);
    }

    8% {
        transform: translate(0.29166666666em, 0px) rotate(-3deg);
    }

    10% {
        transform: translate(0.08333333333em, 0.04166666666em) rotate(1deg);
    }

    12% {
        transform: translate(0.20833333333em, 0.25em) rotate(9deg);
    }

    14% {
        transform: translate(0.29166666666em, -0.16666666666) rotate(10deg);
    }

    16% {
        transform: translate(-0.25em, -0.04166666666em) rotate(-6deg);
    }

    18% {
        transform: translate(0.16666666666, 0.25em) rotate(-10deg);
    }

    20% {
        transform: translate(0.29166666666em, -0.08333333333em) rotate(-8deg);
    }

    22% {
        transform: translate(-0.125em, -0.16666666666) rotate(13deg);
    }

    24% {
        transform: translate(0.25em, -0.02083333333em) rotate(8deg);
    }

    26% {
        transform: translate(-0.125em, -0.04166666666em) rotate(9deg);
    }

    28% {
        transform: translate(-0.25em, -0.29166666666em) rotate(4deg);
    }

    30% {
        transform: translate(-0.02083333333em, -0.20833333333em) rotate(4deg);
    }

    32% {
        transform: translate(0.16666666666, 0px) rotate(-7deg);
    }

    34% {
        transform: translate(0.08333333333em, -0.125em) rotate(6deg);
    }

    36% {
        transform: translate(0.20833333333em, 0.08333333333em) rotate(4deg);
    }

    38% {
        transform: translate(-0.25em, 0px) rotate(-5deg);
    }
    0%, 40%, 100% {
        transform: translate(0, 0) rotate(0);
    }    
}
