.Start {
    margin: 5em 0 7em 0;
    background: transparent;
    position: relative;
}

.Start button {
    position: absolute;
    background-image: url(./img/btn.svg);
    background-repeat: no-repeat;
    background-position: top center;
    color: transparent;
    width: 27%;
    height: 17%;
    background-size: contain;
    bottom: -9%;
    transition: all 0.3s ease;
}

.Start button:hover {
    background-image: url(./img/btn_h.png);
}

.start-logo {
    border: 1px solid #7A7A7A;
    display: inline-block;
    padding: 1.3em 0 0 0;
    background: #ffffff;
    border-bottom: none;
    width: 23.4em;
}

.start-logo img {
    width: 100%;
}

.start-header {
    padding: 2.5em 5.5em;
    background: #ffffff;
    border: 1px solid #7A7A7A;
    text-align: center;
    border-bottom: none;
}

.start-header img {
    width: 100%;
}

.start-header .sub-title {
    font-family: Ubuntu;
    font-size: 3.6em;
}

.start-content {
    padding: 2.5em 3.5em 6.5em 3.5em;
    background: #ffffff;
    border: 1px solid #7A7A7A;
}

.start-content a {
    color: #9FC747;
}

.start-content a:hover {
    color: #9FC747;
    text-decoration: underline;
}

.start-content span {
    font-size: 2.25em;
    line-height: 2em;
    font-weight: 400;
    display: inline-block;
}

.start-content p {
    font-size: 2.6em;
    color: #47A3F0;
    font-weight: bold;
    line-height: 1.5em;
    width: 56%;
}

/* mobile */

.amobile .Start {
    margin: 1.3em 0 4.2em 0;
}

.amobile .start-logo {
    width: 13.9em;
}

.amobile .start-header {
    padding: 1em 1.5em;
    background: #ffffff;
    border: 1px solid #7A7A7A;
    text-align: left;
    margin-bottom: 15em;
}

.amobile .start-header .sub-title {
    font-size: 1.7em;
    line-height: 1.2em;
}

.amobile .start-content {
    padding: 1.5em 1.5em 3em 1.5em;
}

.amobile .start-content span {
    font-size: 1.3em;
    line-height: 1.6em;
}

.amobile .start-content p {
    font-size: 1.5em;
    width: 100%;
}

.amobile .Start button {
    width: 47%;
    bottom: -13%;
}