.Canvas{
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.Canvas.start {
    padding-bottom: 250px;
    background-image: url(./img/bg.png), url(./img/kuanu.png), url(./img/billy.png), url(./img/ilon.png);
    background-repeat: no-repeat;
    background-size: 101%, 27%, 43%, 35%;
}

.Canvas.select {
    background-image: url(./img/bg_1.svg), url(./img/bg_2.svg), url(./img/bg_3.svg), url(./img/bg_4.svg);
    background-repeat: no-repeat;
}