.Canvas{
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.Canvas.start {
    padding-bottom: 250px;
    background-image: url(./img/bg.png), url(./img/kuanu.png), url(./img/billy.png), url(./img/ilon.png);
    background-repeat: no-repeat;
    background-size: 101%, 27%, 43%, 35%;
}