.Canvas{
    overflow: hidden;
    height: 100%;
    width: 100%;
    transition: filter 0.5s ease;
}

.Canvas.start {
    padding-bottom: 21.5em;
    background-image: url(./img/bg.png), url(./img/kuanu.png), url(./img/billy.png), url(./img/ilon.png);
    background-repeat: no-repeat;
    background-size: 101%, 27%, 43%, 35%;
}

.Canvas.select {
    background-image: url(./img/bg_1.svg), url(./img/bg_2.svg), url(./img/bg_3.svg), url(./img/bg_4.svg);
    background-repeat: no-repeat;
}

.Canvas.game {
    background-color: #E5E5E5;
    background-image: url(./img/game_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container_avito {
    width: 120em;
    margin: 0 auto;
    padding: 0 2em;
}

.ablur {
    filter: blur(0.4em)
}

@media screen and (max-width: 767px) {

    .container_avito {
        width: 100%;
        margin: 0 auto;
        padding: 0 1em;
    }

    .Canvas.start {
        padding-bottom: 0;
        background-image: url(./img/start_mobile.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}