.done-links {
    position: absolute;
    bottom: 0;
    width: 100.3%;
    display: flex;
    align-items: center;
    height: 4.8em;
    left: -1px;
}

.done-links-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    height: 4.8em;
    border: 1px solid #7a7a7a;
    border-right: none;
    border-top: none;
}

.done-links-item:hover span, .done-links-item:hover svg {
    opacity: .8;
}

.done-links-item:last-child {
    border-right: 1px solid #7a7a7a;
}

.done-links-item span {
    font-size: 1.6em;
    font-weight: bold;
}

.done-links-item svg {
    width: 2em;
    margin-left: 1em;
}

.done-links-item.billy span {
    color: #976EEC;
}

.done-links-item.billy svg {
    fill: #976EEC;
}
.done-links-item.billy span {
    color: #976EEC;
}

.done-links-item.ilon svg {
    fill: #9FC747;
}
.done-links-item.ilon span {
    color: #9FC747;
}

.done-links-item.kianu span {
    color: #47A3F0;
}

.done-links-item.kianu svg {
    fill: #47A3F0;
}